body{
    background-color: #b0b0b0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url(https://live.staticflickr.com/4141/4778137977_2542203a1f_b.jpg);
    background-size: cover;
}

.jumbotron h1 {
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    text-shadow: -2px 5px 2px #000000;
}

.icon:hover {
    transition: 0.4s;
    filter: invert(1);
}

figure {
    margin-top: 20px; 
}

figcaption {
    margin-top: 10px;
}

.summary {
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    text-shadow: -2px 2px 2px #000000;
    background-color: #1b8adb;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    text-align: center;
}
