.jumbotron {
    display: flex;
    align-items: center;
    background-image: url(https://live.staticflickr.com/4141/4778137977_2542203a1f_b.jpg);
    background-size: cover;
}

.jumbotron h1 {
    font-family: 'Work Sans', sans-serif;
    color: #ffff00;
    text-shadow: 2px 5px 2px #000000;
}

.icon {
    display: flex;
    justify-content: center;
}
